*{
    margin:3px;
}

.node {
    cursor: pointer;
}


.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.tooltip{
    font-size: smaller;
}
